body{
background-color: cyan;
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
background-color: black;
align-items: center;
justify-content: space-between;
padding: 20px;
display: flex;
}
h1{
color: azure;
font-size: 30px;
}
input{
width: 400px;
width: 150px;
}
button{
background-color: greenyellow;
width: 150px;
border-radius: 30px;
}